<h2 xmlns:border="http://www.w3.org/1999/xhtml" xmlns:border="http://www.w3.org/1999/xhtml">Welcome</h2>

<div id="main_content">
  <br>
  <p>Welcome, my name is Charles.</p>
  <p>I'm a student at TriOS college in the Enterprise and Mobile Web Developer program.</p>
  <p>Cool and interesting web applications are my passion.</p>
</div>