// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main_content {
  background-image: url('frog.jpg'); height: 425px; width: 640px;
  font-size: 30px;
}
#main_content p {
  font-size: 30px;

}